.checkout{
    display: flex;
    background-color: bisque;
    height: max-content;
    padding: 20px;
}

hr{
    width: 80%;
}

.checkout__left{
    background-color: white;
}

.checkout__adv{
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title{
    padding:10px;
    /* border-bottom: black; */
}

.checkout__right{
    background-color: cadetblue;
}