

.header{
    background-color: black;
    display: flex;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    margin: 0 20px;
    margin-top: 18px;
    object-fit: contain;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
}

.header__searchInput{
    width:100%;
    padding: 10px;
    height: 14px;
    border: none;

}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.header__searchIcon{
    background-color: darkgoldenrod;
    padding:5px;
    height: 22px;
}
.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 10px;
    font-weight: 800;
}

.header__cartIcon{
    color: white;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.header__cartCount{
    margin-left: 10px;
    margin-right: 10px;
}